itsdangerous==2.0.1
PyMySQL==1.0.2
Flask==2.1.0
dataclasses
Pillow==9.2.0
PyGithub
lxml
requests
PasteScript==3.2.0
waitress
houdini.py
Pygments
mistune
psycopg2-binary
pygments==2.12.0
misaka==2.1.1
waitress==2.1.1
paste==3.5.0
