{% extends "template.html.j2" %}
{% block content %}
    <aside>
        <section id="recent_thoughts">
            <h4>Featured articles:</h4>
            <ul>

                {% for id_, title in featured_articles %}
                    <li><a href="{{'/article/%s' % title.lower()}}">{{title}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </aside>
    {{ markdown }}
{% endblock content %}
