{% extends "template.jinja" %}
{% block content %}
    <aside>
        <section id="recent_thoughts">
            <h4>Articles:</h4>
            <ul>

                {% for id_, title in featured_articles %}
                    <li><a href="{{'/article?id=%i' % id_}}">{{title}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </aside>

    {{ markdown }}
{% endblock content %}
