<!doctype html>
<html lang="en">
    <head>
        <meta name="abuseipdb-verification" content="3IuG6dik" />
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}"/>
        <title>sleepdealer.xyz :: {{ title }}</title>
        <meta property="og:type" content="website" />
        <meta property="og:title"content="Sleepdealer's Pharmacy :: {{ title }}" />
        <meta property="og:url" content="{{ url_for(request.endpoint, **request.view_args) }}" />
        <meta content="#FFB6C1" data-react-helmet="true" name="theme-color" />
        {%if embed_desc %}
            <meta property="og:description" content="{{ embed_desc }}" /> 
        {% endif %}
        {%if embed_img %}
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:image" content="{{ embed_img }}" />
        {% endif %}
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div id="externallinks">
                    <nav>
                        <ul>
                            {% for name, link in links %}
                            <li>
                                <a href="{{link}}">{{name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div id="headerflex">
                    <div id="headers">
                        <a href="/" id="TheTitle">
                            <h1>{{ title }}</h1>
                        </a>
                        <nav id="articles">
                            <ul>
                                {% for name, link in articles %}
                                <li>
                                    <a href="{{link}}">{{name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <a href="/">
                        <img alt="{{ image[0] }}" src="{{ image[1] }}" title="A random profile picture">
                    </a>
                </div>
            </header>
            {% if thought %}
                <aside>
                    <h4>{{dt}}</h4>
                    <h5>This category:</h5>
                    <ul>
                        <li>
                            <b><a href="{{'/articles#'+category.replace(' ', '_')}}">{{ category }}</a></b>
                        </li>
                    </ul>
                    <h5>Related articles:</h5>
                    <ul>
                        {% for id_, title, dt, category in related %}
                            <li>
                                <a href="{{'/article/%s' % title.lower() }}">{{ title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <h5>Other categories:</h5>
                    {% for category_name in othercategories %}
                        <ul>
                            <li>
                                <a href="{{'/articles#'+category_name.replace(' ', '_')}}">{{ category_name }}</a>
                            </li>
                        </ul>
                    {% endfor %}
                </aside>
            {% endif %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
                <p>
                    this site is javascript free :&#41;<br>
                    source code is on my <a href="https://github.com/Sleepdealr/sleepsite">github</a>
                </p>
            </footer>
        </div>
    </body>
</html>
