<!doctype html>
<html lang="en">
    <head>
        <meta name="abuseipdb-verification" content="3IuG6dik" />
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}">
        <title>sleep.site :: {{ title }}</title>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <div id="externallinks">
                    <nav>
                        <ul>
                            thing
                        </ul>
                    </nav>
                </div>
            </header>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
                <p>
                    this site is <a href="/thought?id=3">javascript free</a>
                </p>
                <p>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer">
                        <img style="border:0;width:88px;height:31px"
                             src="/img/vcss-blue.gif"
                             alt="Valid CSS!"/>
                    </a>
                </p>
            </footer>
        </div>
    </body>
</html>
